{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-bordered">
        <thead>
            <th>Location</th>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
            <th>Timestamp</th>
        </thead>
        <tbody>
            {% for update in updates %}
            <tr>
                <td>{{ update.workorder.location }}</td>
                <td>{{ update.workorder.type }}</td>
                <td>{{ update.workorder.description }}</td>
                <td>{{ update.status }}</td>
                <td>{{ moment(update.timestamp).format('LLL') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
