{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-bordered">
        <thead>
            <th>Apartment</th>
            <th>Type</th>
            <th>Description</th>
            <th>Latest Status</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for workorder in open_workorders %}
            <tr>
                <td>{{ workorder.apartment }}</td>
                <td>{{ workorder.type }}</td>
                <td>{{ workorder.description }}</td>
                <td>{{ workorder.status }}</td>
                <td>{{ workorder.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
