{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
    <h1>Test Rendered Template</h1>
    <table class="table table-bordered">
        <thead>
            <th>Apartment</th>
            <th>Type</th>
            <th>Description</th>
            <th>Closed</th>
            <th>Update</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ closed_workorder.apartment }}</td>
                <td>{{ closed_workorder.type }}</td>
                <td>{{ closed_workorder.description }}</td>
                <td>{{ closed_workorder.closed }}</td>
                <td>{{ closed_workorder.updates[0].status }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
